* {
  /* border: 1px dashed white; */
  box-sizing: border-box;
}

body {
  -webkit-animation: bgcolor 50s infinite;
    animation: bgcolor 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

@keyframes bgcolor {
    0% {
        background-color: #00120B;
    }

    30% {
        background-color: #03060F;
    }

    60% {
        background-color: #090D14;
    }

    90% {
        background-color: #010101;
    }

    100% {
        background-color: #000000;
    }
}
.container-grid {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.grid-item {
  width: 307px;
  margin: 15px;
  width: 320px;
  height: 360px;
  border-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 5px;
  perspective: 800px;
}

.grid-item img {
  width: 100%;
  border-radius: 5px;
}

.grid-item--height180  {
  height: 180px;
}
.grid-item--height210  {
  height: 210px;
}
.grid-item--height230  {
  height: 230px;
}
.grid-item--height225  {
  height: 225px;
}
.grid-item--height235  {
  height: 235px;
}
.grid-item--height240  {
  height: 240px;
}
.grid-item--height255  {
  height: 255px;
}
.grid-item--height260  {
  height: 260px;
}
.grid-item--height265  {
  height: 265px;
}
.grid-item--height280  {
  height: 280px;
}
.grid-item--height295  {
  height: 295px;
}
.grid-item--height300  {
  height: 300px;
}
.grid-item--height315  {
  height: 315px;
}
.grid-item--height320  {
  height: 320px;
}
.grid-item--height325  {
  height: 325px;
}
.grid-item--height330  {
  height: 330px;
}
.grid-item--height335  {
  height: 335px;
}
.grid-item--height345  {
  height: 345px;
}
.grid-item--height360  {
  height: 360px;
}
.grid-item--height385  {
  height: 385px;
}
.grid-item--height390  {
  height: 390px;
}
.grid-item--height395  {
  height: 395px;
}
.grid-item--height400  {
  height: 400px;
}
.grid-item--height420  {
  height: 420px;
}
.grid-item--height430  {
  height: 430px;
}
.grid-item--height450  {
  height: 450px;
}
.grid-item--height465  {
  height: 465px;
}
.grid-item--height480  {
  height: 480px;
}
.grid-item--height485  {
  height: 480px;
}
.grid-item--height520  {
  height: 520px;
}


.card {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card .front {
  display: block;
  width: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.card .back {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #EAECEE;
  color: black;
  height: 100%;
}

.back {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grid-item .button  {
  font-weight: bold;
  display: flex;
  justify-content: center;
  font-size: 16px;
}

.button a {
  text-decoration: none;
  color: black;
}

/* new style for button, feel free to change the color */
a.btn {
  color: #fff;
  background: grey;
  padding: .5rem 1rem;
  display: inline-block;
  border-radius: 4px;
  transition-duration: .25s;
  border: none;
  font-size: 14px;
  text-decoration: none;
}

.modal p {
  text-indent:  50px;
}

.back h4 {
  text-align: center;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
}

.button {
	-moz-box-shadow: 0px 0px 0px 2px #9fb4f2;
	-webkit-box-shadow: 0px 0px 0px 2px #9fb4f2;
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7892c2), color-stop(1, #476e9e));
	background:-moz-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-webkit-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-o-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-ms-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7892c2', endColorstr='#476e9e',GradientType=0);
	background-color:#7892c2;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:100px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:12px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
.button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #476e9e), color-stop(1, #7892c2));
	background:-moz-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-webkit-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-o-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-ms-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#476e9e', endColorstr='#7892c2',GradientType=0);
	background-color:#476e9e;
}
.button:active {
	position:relative;
	top:1px;
}

.footer textarea, input {
  background-color: #E5E7E6;
  color: black;
  margin-top: 10px;
  padding: 5px;
  font-size: 18px;

}
.footer {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
  	align-items: center;
  	flex-direction: column;
  	align-content: center;
  	justify-content: center;
  	color: white;
  }

  form {
  	display: flex;
  	flex-direction: column;
  	/* background transparent to allow for :before&::after effect */
  	background: transparent;
  	max-width: 400px;
  	padding: 2rem 2rem 2rem 2rem;
  	position: relative;
    border: 1px white solid;
    border-radius: 3px;

  	&::before,
  	&::after {
  		position: absolute;
  		content: "";
  		width: 100%;
  		height: 100%;
  		transition: all 0.5s ease;
  	}


    .thankyou {
      font-weight: 200;
      font-size: 1.8em;
      text-transform: uppercase;
      letter-spacing: 0.5em;

    }

    .thankyou .letter {
      display: inline-block;
      line-height: 1em;
    }


/* ////// */
/* Extra Large devices (large desktops, 1200px and down) */
@media only screen and (max-width: 1200px) {
}

/*
  Large devices (desktops, 992px and down)
*/
@media only screen and (max-width: 992px) {
  /* styles go here */
}

/*
  Medium devices (tablets, 768px and down)
*/
@media only screen and (max-width: 768px) {
  /* body  {
    background-color: white;
  } */
}
/*
  Small devices (landscape phone, 576px and down)
*/
@media only screen and (max-width: 576px){
  /* responsive is not working!!! */
  body  {
    background-color: white;
  }

}
